/*Paleta de colores*/
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 16px; /* 1 rem = 10px */
  font-family: "Krub", sans-serif;
}
/*UTILIZAR EL CODIGO DE ARRIBA PARA TODOS LOS PROYECTOS SE ADAPTEN A 1 REM = 10PX */
.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
}
